<div class="card mb-lg-3">
  <img [src]="recipe?.strMealThumb" class="card-img-top" [alt]="recipe?.strMeal">
  <div class="card-body">
    <h5 class="card-title">{{ recipe?.strMeal }}</h5>
    <button class="btn btn-link p-0" (click)="redirectToCategory(recipe?.strCategory)">
      <a class="link-primary">{{ recipe?.strCategory }}</a>
    </button>
    <h6 class="card-title">{{ recipe?.strArea }}</h6>
    <button class="btn btn-link p-0" (click)="viewRecipe(recipe?.idMeal)">
    <a class="btn btn-primary">View Recipe</a>
    </button>

  </div>
</div>
