<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <input type="text" class="form-control" [(ngModel)]="firstLetter" maxlength="1" placeholder="Enter first letter">
      <button class="btn btn-primary mt-2" (click)="getRecipesByFirstLetter()">Get Recipes</button>
    </div>
    <div class="col-md-5">
      <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search recipes">
      <button class="btn btn-primary mt-2 me-5" (click)="searchRecipes()">Search</button>
      <button class="btn btn-secondary mt-2" (click)="resetFilters()">Reset Filters</button>
    </div>
  </div>
  <div class="row mt-4">
    <div *ngIf="recipes.length === 0" class="col-12">
      <p>No recipes found.</p>
    </div>
    <ng-container *ngIf="recipes && recipes.length > 0">
        <div *ngFor="let recipe of getVisibleRecipes()" class="col-md-4">
          <app-recipe-card [recipe]="recipe"></app-recipe-card>
        </div>
    </ng-container>
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)">
    </app-pagination>
  </div>
</div>
